/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#45B39D, 10%);
$background-color: lighten(gray, 28%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: lighten(red, 10%);
